{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
    <h1>About Me</h1>
    <p>I am Anish Kumar Nayak. I'm currently pursuing B.Tech in Computer Science and Engineering at NIST University. I enjoy solving problems and creating innovative projects.</p>
    <p><strong>Education:</strong> B.Tech CSE</p>
    <p><strong>Interests:</strong> Web development, AI, and Machine Learning.</p>
    <p><strong>Experience:</strong> AI and Machine learning Workshop(IIT Bhubaneswar),Advanced Programming Training(NIST University),Python developer intern(Asirudh Software Private Limited)</p>
    <p><a href="#">📄 Download Resume</a></p>
{% endblock %}



