
{% extends "base.html" %}
{% block title %}Home - Anish's Portfolio{% endblock %}
{% block content %}
    <center>
        <img src="https://avatars.githubusercontent.com/u/9919?v=4" alt="Profile Picture" class="profile-pic">
        <h1>Hi, I'm Anish 👋</h1>
        <p>A passionate developer who loves building cool things with code.A dedicated and results-driven individual, I am committed to building innovative projects. I consistently apply strong problem-solving skills, technical knowledge, and persistence to deliver impactful and efficient solutions.</p>
    </center>
{% endblock %}
